// Colors
//------------------------------------------------------------------------------------
$white: #fff !default;
$gray-100: #eee !default;
$gray-200: #dcdcdc !default;
$gray-300: #999 !default;
$gray-400: #404042 !default;
$gray-500: #303136 !default;
$black: #000 !default;
$blue-100: #00a5ff !default;
$blue-200: #0974cf !default;
$pink: #ff7268 !default;
$red: #f44336 !default;
$orange: #f87b00 !default;
$yellow: #ffc107 !default;
$green: #8bc34a !default;

$colors: () !default;
$colors: map-merge(
  (
    'blue': $blue-200,
    'red': $red,
    'pink': $pink,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'white': $white,
    'gray': $gray-200,
    'gray-dark': $gray-500,
  ),
  $colors
);

$primary: $blue-200 !default;
$default: $white !default;
$success: $green !default;
$info: $blue-100 !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-500 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': (
      color: $white,
      background-color: $primary,
      border-color: $primary,
    ),
    'default': (
      color: $gray-300,
      background-color: $white,
      border-color: $gray-200,
    ),
    'success': (
      color: $white,
      background-color: $success,
      border-color: $success,
    ),
    'info': (
      color: $white,
      background-color: $info,
      border-color: $info,
    ),
    'warning': (
      color: $white,
      background-color: $warning,
      border-color: $warning,
    ),
    'danger': (
      color: $white,
      background-color: $danger,
      border-color: $danger,
    ),
    'light': (
      color: $gray-400,
      background-color: $light,
      border-color: $light,
    ),
    'dark': (
      color: $white,
      background-color: $dark,
      border-color: $dark,
    ),
    'orange': (
      color: $white,
      background-color: $orange,
      border-color: $orange,
    ),
  ),
  $theme-colors
);
$theme-color-interval: 8% !default;
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-500 !default;
$yiq-text-light: $white !default;
// Options
// ------------------------------------------------------------------------------------
$enable-caret: true !default;
$enable-rounded: false !default;
$enable-shadows: true !default;
$enable-transitions: true !default;
$enable-grid-classes: true !default;
// Spacing
// ------------------------------------------------------------------------------------
$spacer: 1.6rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
  ),
  $spacers
);
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);
// Scale factors
$scale-factors: () !default;
$scale-factors: map-merge(
  (
    xs: 0.75,
    sm: 0.75,
    md: 0.75,
    lg: 0.75,
    xl: 0.75,
    xxl: 1,
  ),
  $scale-factors
);
// Body
// ------------------------------------------------------------------------------------
$body-bg: $white !default;
$body-color: $gray-500 !default;
// Links
// ------------------------------------------------------------------------------------
$link-color: $blue-200 !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Paragraphs
// ------------------------------------------------------------------------------------
$paragraph-margin-bottom: 1.4rem !default;
// Grid breakpoints
// ------------------------------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1401px,
  xxxl: 1600px,
) !default;
@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints);
// Grid containers
// ------------------------------------------------------------------------------------
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px,
) !default;
@include _assert-ascending($container-max-widths, '$container-max-widths');
// Grid columns
// ------------------------------------------------------------------------------------
$grid-columns: 12 !default;
$grid-gutter-width: 3rem !default;
// Components
// ------------------------------------------------------------------------------------
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;
$border-width: 0.1rem !default;
$border-color: $gray-200 !default;
$border-radius: 0.3rem !default;
$border-radius-rounded: 100rem !default;
$component-active-color: $white !default;
$component-active-bg: $blue-200 !default;
$caret-width: 0.5rem !default;
$caret-color: $gray-500 !default;
$transition-base: all 0.2s ease-in-out !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;
// Fonts
// ------------------------------------------------------------------------------------
$font-path: '../fonts' !default;
$font-family-sans-serif: 'Roboto', sans-serif, Arial !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-root: 10px !default;
$font-size-base: 1.4rem !default;
// Assumes the browser default, typically `16px`
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: $font-weight-bold !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;
$lead-font-size: ($font-size-base * 1.25) !default;
$lead-font-weight: $font-weight-light !default;
$small-font-size: 80% !default;
$text-muted: $gray-300 !default;
$blockquote-small-color: $gray-300 !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$hr-border-color: rgba($black, 0.1) !default;
$hr-border-width: $border-width !default;
$mark-padding: 0.2rem !default;
$dt-font-weight: $font-weight-bold !default;
$kbd-box-shadow: inset 0 -0.1rem 0 rgba($black, 0.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;
$list-inline-padding: 0.8rem !default;
$mark-bg: $gray-100 !default;
$hr-margin-y: $spacer !default;
// Tables
// ------------------------------------------------------------------------------------
$table-row-height: 3rem !default;
$table-cell-padding: 0 0.3rem !default;
$table-bg: transparent !default;
$table-border-width: $border-width !default;
$table-border-color: $gray-200 !default;
$table-head-color: $gray-200 !default;
$table-caption-color: $text-muted !default;
// Buttons + Forms
// ------------------------------------------------------------------------------------
$input-btn-padding-y: 0.8rem !default;
$input-btn-padding-x: 1.2rem !default;
$input-btn-line-height: $line-height-base !default;
$input-btn-focus-width: 0.1rem !default;
$input-btn-focus-color: rgba($component-active-bg, 0.25) !default;
$input-btn-focus-alter-color: rgba($white, 0.5) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
$input-btn-focus-box-alter-shadow: 0 0 0 $input-btn-focus-width
  $input-btn-focus-alter-color !default;
$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-line-height-sm: $line-height-sm !default;
$input-btn-padding-y-lg: 0.5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-line-height-lg: $line-height-lg !default;
$input-btn-border-width: $border-width !default;
// Buttons
// ------------------------------------------------------------------------------------
$btn-padding-y: $input-btn-padding-y !default;
$btn-padding-x: $input-btn-padding-x !default;
$btn-line-height: $input-btn-line-height !default;
$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: $input-btn-padding-x-sm !default;
$btn-line-height-sm: $input-btn-line-height-sm !default;
$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: $input-btn-padding-x-lg !default;
$btn-line-height-lg: $input-btn-line-height-lg !default;
$btn-border-width: $input-btn-border-width !default;
$btn-font-weight: $font-weight-normal !default;
// $btn-box-shadow: inset 0 .1rem 0 rgba($white, .15),
// 0 .1rem .1rem rgba($black, .075) !default;
$btn-box-shadow: none;
$btn-focus-width: $input-btn-focus-width !default;
// $btn-focus-box-shadow: $input-btn-focus-box-shadow !default;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 0.65 !default;
// $btn-active-box-shadow: inset 0 .3rem .5rem rgba($black, .125) !default;
$btn-active-box-shadow: none;
$btn-link-disabled-color: $gray-300 !default;
$btn-block-spacing-y: 0.8rem !default;
$btn-border-radius: $border-radius !default;
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
$btn-background: transparent;
$btn-border-color: $gray-300;
$btn-border-radius: 6rem;
$btn-color: $gray-500;
$btn-border: 0.1rem solid $border-color;
$btn-hover-background: transparent;
$btn-hover-border-color: $gray-500;
$btn-hover-color: $gray-500;
$btn-hover-color-inner: $gray-300;
$btn-focus-color: $border-color;
$btn-font-size: 1.4rem;
$btn-font-weight: 400;
$btn-line-height: 1.6rem;
$btn-padding: 0.8rem 1.6rem;

$btn-margin: 0;
$btn-transition: all 0.3s linear;
// Forms
// ------------------------------------------------------------------------------------
$label-margin-bottom: 0.8rem !default;
$input-padding-y: 0.5rem !default;
$input-padding-x: 1rem !default;
$input-line-height: $input-btn-line-height !default;
$input-bg: $white !default;
$input-disabled-bg: $gray-200 !default;
$input-color: $gray-500 !default;
$input-border-color: $border-color !default;
$input-border-width: $input-btn-border-width !default;
// $input-box-shadow: inset 0 .1rem .1rem rgba($black, .075) !default;
$input-box-shadow: none !default;
$input-border-radius: $border-radius !default;
$input-focus-bg: $input-bg !default;
$input-focus-border-color: lighten($component-active-bg, 25%) !default;
$input-focus-color: $input-color !default;
$input-focus-width: $input-btn-focus-width !default;
$input-focus-box-shadow: $input-btn-focus-box-shadow !default;
$input-placeholder-color: $gray-400 !default;
$input-plaintext-color: $body-color !default;
$input-height-border: $input-border-width * 2 !default;
$input-height-inner: ($font-size-base * $input-btn-line-height) +
  ($input-btn-padding-y * 2) !default;
$input-height: calc(#{$input-height-inner} + #{$input-height-border}) !default;
$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
$form-text-margin-top: 0.4rem !default;
$form-check-input-gutter: 2rem !default;
$form-check-input-margin-y: 0.5rem !default;
$form-check-input-margin-x: 0.4rem !default;
$form-check-inline-margin-x: 1.2rem !default;
$form-check-inline-input-margin-x: 0.5rem !default;
$form-group-margin-bottom: 1.6rem !default;
$input-group-addon-color: $input-color !default;
$input-group-addon-bg: $gray-200 !default;
$input-group-addon-border-color: $input-border-color !default;
$checkbox-radio-padding-left: 2.9rem;
$checkbox-radio-margin-bottom: 0.64rem;
$checkbox-radio-padding-right: 0.64rem;
$checkbox-radio-font-size: 1.3rem;
$checkbox-radio-border-color: $blue-100;
$checkbox-radio-top: 0.1rem;
$checkbox-radio-left: 0;
$checkbox-radio-height: 1.6rem;
$checkbox-radio-width: 1.6rem;
$checkbox-radio-background-color: $white;
$checkbox-radio-border: 0.1rem solid $gray-200;
$checkbox-radio-transition: all 0.3s;
$checkbox-radio-border-radius: 0.3rem;
$radio-btn-size: 0.8rem;
$checkbox-left: 0.4rem;
$checkbox-width: 0.64rem;
$checkbox-height: 0.8em;
$checkbox-border: solid $blue-100;
$checkbox-border-width: 0 0.24rem 0.24rem 0;
// Form validation
$form-feedback-margin-top: $form-text-margin-top !default;
$form-feedback-font-size: $small-font-size !default;
$form-feedback-valid-color: element-color('success') !default;
$form-feedback-invalid-color: $red !default;
// Dropdowns
// ------------------------------------------------------------------------------------
$dropdown-font-size: 1.44rem !default;
$dropdown-min-width: 16rem !default;
$dropdown-padding-y: 0.8rem !default;
$dropdown-spacer: 0.3rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($gray-200, 0.8) !default;
$dropdown-border-radius: none !default;
$dropdown-border-width: $border-width !default;
$dropdown-divider-bg: $gray-200 !default;
$dropdown-box-shadow: 0 0.8rem 1.6rem rgba($black, 0.2) !default;
$dropdown-link-color: $gray-500 !default;
$dropdown-link-hover-color: darken($gray-500, 5%) !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-link-active-color: $component-active-color !default;
$dropdown-link-active-bg: $component-active-bg !default;
$dropdown-link-disabled-color: $gray-300 !default;
$dropdown-item-padding-y: 0.8rem !default;
$dropdown-item-padding-x: 1.2rem !default;
$dropdown-header-color: $gray-300 !default;
$nav-divider-color: $gray-100 !default;
$nav-divider-margin-y: ($spacer / 2) !default;
// Alerts
// ------------------------------------------------------------------------------------
$alert-padding-y: 1.5rem !default;
$alert-padding-x: 1.5rem !default;
$alert-margin-bottom: 1rem !default;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: $font-weight-bold !default;
$alert-border-width: $border-width !default;
$alert-bg-level: -7 !default;
$alert-border-level: -9 !default;
$alert-color-level: 10 !default;
// Breadcrumbs
// ------------------------------------------------------------------------------------
$breadcrumbs-color: $gray-300 !default;
$breadcrumbs-list-margin: 0 !default;
$breadcrumbs-font-size: 1.6rem !default;
$breadcrumbs-font-weight: $font-weight-normal !default;
$breadcrumbs-delimiter: '/' !default;
$breadcrumbs-delimiter-padding-x: 0.8rem !default;
$breadcrumbs-hover-text-decoration: none !default;
// Pagination
// ------------------------------------------------------------------------------------
$pagination-margin: 1rem !default;
$pagination-padding-y: 0.8rem !default;
$pagination-padding-x: 1.2rem !default;
$pagination-simple-padding-x: 0.8rem !default;
$pagination-line-height: 1.25 !default;
$pagination-color: $gray-500 !default;
$pagination-bg: $white !default;
$pagination-border-width: $border-width !default;
$pagination-border-color: $gray-100 !default;
$pagination-simple-color: $blue-100 !default;
$pagination-focus-box-shadow: 0 0 0 $input-btn-focus-width
  rgba($pagination-border-color, 0.75) !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: $blue-100 !default;
$pagination-hover-border-color: $blue-100 !default;
$pagination-simple-hover-color: $blue-200 !default;
$pagination-disabled-color: $gray-500 !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $gray-300 !default;
$pagination-simple-disabled-color: $gray-200 !default;
$pagination-transition: all 0.3s linear !default;
$pagination-icon-size: 1.3rem !default;
$pagination-icon-transition: all 0.3s linear !default;
// Loader bars
// ------------------------------------------------------------------------------------
$loader-height: 0.4rem !default;
$loader-bg: $gray-200 !default;
$loader-bar-colors: ($blue-100, $blue-200) !default;
$loader-bar-animation: loading-bar 2s linear infinite !default;
// Modals
// ------------------------------------------------------------------------------------
$modal-inner-padding: 1.6rem !default;
$modal-dialog-margin: 0.8rem !default;
$modal-dialog-margin-y-sm-up: 2.8rem !default;
$modal-title-line-height: $line-height-base !default;
$modal-content-bg: $white !default;
$modal-content-border-color: rgba($black, 0.2) !default;
$modal-content-border-width: $border-width !default;
$modal-content-border-radius: $border-radius !default;
$modal-content-box-shadow-xs: 0 0.4rem 0.8rem rgba($black, 0.5) !default;
$modal-content-box-shadow-sm-up: 0 0.8rem 1.6rem rgba($black, 0.5) !default;
$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: 0.5 !default;
$modal-header-border-color: $gray-200 !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding: 1.6rem !default;
$modal-widget-panel-header-padding: 1rem 1rem 0 2.2rem !default;
$modal-widget-panel-body-padding: 0 2.2rem 0.3rem !default;
$modal-widget-panel-footer-padding: 0 !default;
$modal-width: 32rem !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;
$modal-transition: transform 0.3s ease-out !default;
// Z-index master list
// ------------------------------------------------------------------------------------
$zindex-sidebar-menu: 100 !default;
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
// Shapes
// ------------------------------------------------------------------------------------
$triangle-direction: up;
$triangle-color: $white;
$triangle-height: 0.8rem;
$triangle-width: 0.8rem;
$triangle-shaded-size: 0.8rem;
$close-size: 2.4rem;
$close-color: $gray-300;
$close-hover-color: $gray-400;
$menu-color: $white;
$menu-height: 0.25rem;
$menu-width: 2rem;
$menu-shift-y: 0.8rem;
$menu-border-radius: 0.3rem;
// Icons
// ------------------------------------------------------------------------------------
$icon-size: 2rem;
$icon-margin: 0 0.5rem 0 0;
// Navs
$nav-link-padding-y: 0.5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-disabled-color: $gray-400 !default;
$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $gray-500 !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
$nav-pills-border-radius: $border-radius !default;
$nav-pills-link-active-color: $component-active-color !default;
$nav-pills-link-active-bg: $component-active-bg !default;
$nav-divider-color: $gray-200 !default;
$nav-divider-margin-y: ($spacer / 2) !default;
// Progress bars
$progress-height: 0.5rem !default;
$progress-font-size: ($font-size-base * 0.75) !default;
$progress-bg: $gray-200 !default;
$progress-border-radius: $border-radius !default;
$progress-box-shadow: inset 0 0.1rem 0.1rem rgba($black, 0.1) !default;
$progress-bar-color: $white !default;
$progress-bar-bg: $primary !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition: width 0.6s ease !default;
// Navbar
// ------------------------------------------------------------------------------------
$navbar-height: 6.4rem !default;
$navbar-width: 100% !default;
$navbar-padding-x: 0.8rem !default;
$navbar-bg: $blue-200 !default;
$navbar-header-width: 27rem - $navbar-padding-x !default;
$navbar-header-collapse-width: 12rem - $navbar-padding-x !default;
$navbar-logo-bg: url('../images/logo.svg') no-repeat !default;
$navbar-logo-collapse-bg: url('../images/logo-mini.svg') no-repeat !default;
$navbar-logo-height: calc-rem(64px) !default;
$navbar-logo-margin: 0 !default;
$navbar-menu-margin: 0 !default;
$navbar-link-padding-x: 3.2rem !default;
$navbar-link-padding-y: 1.92rem !default;
$navbar-link-line-height: 2.6rem !default;
$navbar-link-font-size: 1.6rem !default;
$navbar-link-font-weight: $font-weight-bold !default;
$navbar-link-text-transform: uppercase !default;
$navbar-link-text-decoration: none !default;
$navbar-link-color: $white !default;
$navbar-link-hover-background: lighten($blue-200, 3%) !default;
$navbar-link-hover-color: $white !default;
$navbar-link-hover-text-decoration: none !default;
$navbar-link-active-background: $white !default;
$navbar-link-active-color: $blue-200 !default;
$navbar-link-active-text-decoration: none !default;
$navbar-link-transition: color 0.3s linear !default;
$user-menu-padding-x: 1.9rem !default;
$user-menu-padding-y: 1.9rem !default;
$user-menu-padding-y-xl: 1.1rem !default;
$user-menu-padding-x-xl: 1.1rem !default;
$user-menu-hover-background: $navbar-link-hover-background !default;
$user-menu-color: $navbar-link-color !default;
$user-menu-hover-color: $navbar-link-hover-color !default;
$user-menu-icon-size: 2.4rem !default;
$user-menu-menu-transform: translate3d(0, 0, 0) !default;
$user-menu-menu-transform-xl: translate3d(0, 0, 0) !default;
$user-menu-menu-arrow-right: 3.2rem;
// Page
// ------------------------------------------------------------------------------------
$page-container-width: 100% !default;
$page-container-min-height: calc(100% - #{$navbar-height}) !default;
$page-container-min-height-xl: calc(100% - #{$navbar-height} * 0.75) !default;
$page-container-font-size: calc-rem(14px) !default;
$page-sidebar-width: 100% !default;
$page-sidebar-max-width: 27rem !default;
$page-sidebar-collapse-max-width: 6.4rem !default;
$page-sidebar-min-height: 1.6rem !default;
$page-content-width: 100% !default;
$page-content-max-width: calc(100% - #{$page-sidebar-max-width}) !default;
$page-content-collapse-max-width: calc(
  100% - #{$page-sidebar-collapse-max-width}
) !default;
$page-content-min-height: 1.6rem !default;
$page-content-collapse-max-width-xl: calc(
  100% - #{$page-sidebar-collapse-max-width} * 0.75
) !default;
// Sidebar
// ------------------------------------------------------------------------------------
$sidebar-bg: $gray-500 !default;
$sidebar-hover-bg: $gray-500 !default;
$sidebar-color: $white !default;
$sidebar-hover-color: $blue-200 !default;
$sidebar-transition: background 0.2s linear, color 0.1s linear !default;
$sidebar-toggle-height: 6.4rem !default;
$sidebar-toggle-right: 1.66rem !default;
$sidebar-first-level-min-height: 6.4rem !default;
$sidebar-first-level-font-weight: $font-weight-normal !default;
$sidebar-first-level-padding-left: 3.7rem !default;
$sidebar-link-group-triangle-size: 0.6 !default;
$sidebar-link-group-triangle-right: 2.8rem !default;
$sidebar-link-group-triangle-margin-top: -0.1rem !default;
$sidebar-link-group-triangle-transition: all 0.2s ease-in-out !default;
$sidebar-link-width: 100% !default;
$sidebar-link-padding-x: 0.8rem !default;
$sidebar-link-padding-y: 0.8rem !default;
$sidebar-link-group-padding-right: 4.6rem !default;
$sidebar-link-font-size: 1.44rem !default;
$sidebar-link-font-weight: 500 !default;
$sidebar-link-text-transform: none !default;
$sidebar-link-text-decoration: none !default;
$sidebar-link-text-hover-decoration: none !default;
$sidebar-submenu-padding-left: 3.2rem !default;
$sidebar-2nd-submenu-padding-left: $sidebar-submenu-padding-left + 1.6rem !default;
$sidebar-3rd-submenu-padding-left: $sidebar-2nd-submenu-padding-left + 1.6rem !default;
$sidebar-icon-left: 0.8rem !default;
$sidebar-collapse-min-width: 27rem !default;
$sidebar-first-level-collapse-padding-x: 1.6rem !default;
$sidebar-first-level-collapse-padding-y: 0 !default;
$sidebar-submenu-collapse-border-left: 0.1rem $gray-400 solid !default;
$sidebar-submenu-collapse-padding-left: 0.8rem !default;
$sidebar-2nd-submenu-collapse-padding-left: $sidebar-submenu-collapse-padding-left +
  1.6rem !default;
$sidebar-3rd-submenu-collapse-padding-left: $sidebar-2nd-submenu-collapse-padding-left +
  1.6rem !default;
// Content Header
// ------------------------------------------------------------------------------------
$content-header-bg: $white !default;
$content-header-min-height: 6.4rem !default;
$content-header-line-height: 1 !default;
$content-header-padding-x: 1.1rem !default;
$content-header-padding-x-xl: $content-header-padding-x * 0.5 !default;
$filter-toggle-color: $gray-500 !default;
$filter-toggle-border-color: $gray-100 !default;
$filter-toggle-icon-size: 2rem !default;
$filter-toggle-icon-color: $blue-100 !default;
$filter-toggle-hover-color: $white !default;
$filter-toggle-hover-icon-color: $white !default;
$filter-toggle-hover-border-color: $blue-100 !default;
$filter-toggle-hover-bg: $blue-100 !default;
$filter-toggle-focus-color: $blue-100 !default;
$filter-toggle-transition: all 0.3s linear !default;
// Groups Tabs
// ------------------------------------------------------------------------------------
// $groups-tabs-min-height: 6.4rem !default;
$groups-tabs-min-height: 8rem !default;
$groups-tabs-bg: $blue-200 !default;
$groups-tabs-toggle-margin-right: 1.4rem !default;
$groups-tabs-toggle-padding-y: 1.92rem !default;
$groups-tabs-toggle-size: 2.3rem !default;
$groups-tabs-toggle-color: $blue-100 !default;
$groups-tabs-toggle-border-color: $white !default;
$groups-tabs-toggle-hover-color: $white !default;
$groups-tabs-toggle-transition: all 0.3s linear !default;
$groups-tabs-menu-translateX: -3.5rem !default;
$groups-tabs-menu-translateY: -1.5rem !default;
$groups-tabs-menu-arrow-left: 3.5rem !important;
$groups-tabs-item-margin-right: 0.8rem !default;
$groups-tabs-item-font-size: 1.44rem !default;
$groups-tabs-item-font-weight: $font-weight-normal !default;
$groups-tabs-item-padding-x: 1.3rem !default;
$groups-tabs-item-padding-y: 1.1rem !default;
$groups-tabs-item-color: $white !default;
$groups-tabs-item-border-color: $white !default;
$groups-tabs-item-hover-color: $gray-500 !default;
$groups-tabs-item-hover-bg: $white !default;
$groups-tabs-item-hover-border-color: $white !default;
$groups-tabs-item-stack-font-size: 2rem !default;
$groups-tabs-close-size: 1.6rem !default;
$groups-tabs-close-margin: 0 0 0 1.3rem !default;
$groups-tabs-close-color: $white !default;
$groups-tabs-close-hover-color: $gray-500 !default;
$groups-tabs-close-inner-color: $gray-300 !default;
// Panel
// ------------------------------------------------------------------------------------
$panel-header-height: 7rem !default;
$panel-header-bg: $gray-100 !default;
$panel-title-flex: 0 1 55% !default;
$panel-title-padding: 0 1.5rem !default;
$panel-title-main-font-size: 1.8rem !default;
$panel-title-main-font-weight: $font-weight-bold !default;
$panel-title-main-line-height: 1.1 !default;
$panel-title-sub-font-size: 1.4rem !default;
$panel-title-sub-font-weight: $font-weight-normal !default;
$panel-title-sub-line-height: 1.4 !default;
$panel-title-sub-margin-top: 0.5rem !default;
// $panel-footer-margin: 1rem 0 !default;
$panel-pagination-control-select-margin-left: -6.5rem !default;
$panel-options-margin-left: 3.2rem !default;
$panel-config-toggle-padding: 0.5rem !default;
$panel-config-toggle-margin: 0 0 0 0.3rem !default;
$panel-config-toggle-border-radius: 0.3rem !default;
$panel-config-toggle-hover-bg: $blue-100 !default;
$panel-config-toggle-hover-animation: spin-45 0.3s 1 linear !default;
$panel-config-toggle-icon-size: 2.4rem !default;
$panel-config-toggle-icon-margin: 0 !default;
$panel-config-toggle-icon-color: $blue-100 !default;
$panel-config-toggle-icon-hover-color: $white !default;
$panel-config-toggle-icon-transition: all 0.3s linear !default;
$panel-config-menu-margin: 1.1rem !default;
$panel-config-menu-arrow-left: 29rem !default;
$panel-config-menu-translateX: -27rem !default;
$panel-config-menu-padding-y: 2.1rem !default;
$panel-config-menu-padding-x: 1.9rem !default;
$panel-config-menu-min-width: 41.6rem !default;
$panel-config-main-border-bottom: 0.1rem solid $gray-100 !default;
$panel-config-main-margin-bottom: 1rem !default;
$panel-config-main-padding-bottom: 0.8rem !default;
$panel-config-additional-border-top: 0.1rem solid $gray-100 !default;
$panel-config-additional-margin-top: 1rem !default;
$panel-config-additional-padding-top: 1.5rem !default;
$panel-reload-padding: 0.5rem !default;
$panel-reload-border-radius: 0.3rem !default;
$panel-reload-hover-bg: $blue-100 !default;
$panel-reload-margin: 0 0 0 0.3rem !default;
$panel-reload-animation: spin-180 0.3s 1 linear !default;
$panel-reload-icon-size: 2.4rem !default;
$panel-reload-icon-margin: 0 !default;
$panel-reload-icon-color: $blue-100 !default;
$panel-reload-icon-hover-color: $white !default;
$panel-toggle-padding: 0 !default;
$panel-toggle-margin: 0 0 0 5.3rem !default;
$panel-toggle-icon-size: 1.7rem !default;
$panel-toggle-icon-color: $gray-300 !default;
$panel-toggle-icon-hover-color: $gray-500 !default;
$panel-toggle-icon-transition: all 0.3s linear !default;
$panel-body-margin-x: 0 !default;
$panel-body-margin-y: 1rem !default;
