@mixin loader-bar(
  $height: $loader-height,
  $background-color: $loader-bg,
  $colors: $loader-bar-colors,
  $animation: $loader-bar-animation
) {
  height: $height;
  width: 100%;
  background-color: $background-color;
  position: relative;
  margin: 0;
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &-bar:nth-child(#{$i}) {
      background-color: $color;
      animation: $animation;
      position: absolute;
      width: 0;
      height: 100%;
      @if $i > 1 {
        animation-delay: #{($i - 1)}s;
      }
    }
  }
}
