@mixin close(
  $size: $close-size,
  $color: $close-color,
  $hover-color: $close-hover-color
) {
  position: relative;
  display: inline-block;
  width: $size;
  height: $size;
  overflow: hidden;
  @include before-after {
    position: absolute;
    height: 0.1rem;
    width: 100%;
    top: 50%;
    left: 0;
    background: $color;
  }
  @include before {
    transform: rotate(45deg);
  }
  @include after {
    transform: rotate(-45deg);
  }
  &--active,
  &:hover,
  &:active {
    @include before-after {
      background: $hover-color !important;
    }
  }
}
