// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

.modal {
  display: block;

  &--show {
    display: block;
  }

  &:not(&--top):not(&--sticky--left):not(&--sticky--right):not(&--adaptive--left):not(&--adaptive--center):not(&--adaptive--right) {
    .modal__dialog {
      @include center-vertically(relative);
    }
  }

  &__component {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    overflow: hidden;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695

    .modal-open & {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &__dialog {

    .modal--top & {
      @include center-block;
      position: relative;
      top: 7rem;
    }

    .modal--sticky--left & {
      position: absolute; // side panel
      left: 0; // side panel
      top: 0; // side panel
      height: 100%; // side panel
    }

    .modal--sticky--right & {
      position: absolute; // side panel
      right: 0; // side panel
      top: 0; // side panel
      height: 100%; // side panel

      // for the side panel, the elements in the footer are lined up in a column
      .modal__footer {
        flex-direction: column;
        > * {
          margin: 0;
          &:not(:last-child) {
            margin-bottom: .4rem;
          }
        }
      }
    }

    .modal--adaptive--left & {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      transform: none;

      @include media-breakpoint-up(xxxl) {
        @include center-vertically;
        height: auto;
        max-height: 90%;
      }
    }

    .modal--adaptive--center & {
      @include center-vertically;
      height: 100%;
      overflow: auto;

      @include media-breakpoint-up(xxxl) {
        @include center-vertically;
        height: auto;
        max-height: 90%;
      }
    }

    .modal--adaptive--right & {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      @include media-breakpoint-up(xxxl) {
        @include center-vertically;
        height: auto;
        max-height: 90%;
      }
    }

    &.widget-panel {
      .modal__header {
        flex: 0 0 auto;
        padding: $modal-widget-panel-header-padding;
      }
      .modal__body {
        padding: $modal-widget-panel-body-padding;
      }
      .modal__footer {
        padding: $modal-widget-panel-footer-padding;
      }
    }

    width: $modal-width;

    margin: $modal-dialog-margin;
    // allow clicks to pass through for custom click handling to close modal
    pointer-events: none;

    // When fading in the modal, animate it to slide down
    //.modal.fade & {
    //  @include transition($modal-transition);
    //  transform: translate(0, -25%);
    //}
    //.modal.show & {
    //  transform: translate(0, 0);
    //}
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    min-width: 32rem; // side panel
    min-height: 100%; // side panel
    // counteract the pointer-events: none; in the .modal-dialog
    pointer-events: auto;
    background-color: $modal-content-bg;
    //background-clip:  padding-box;
    //border: $modal-content-border-width solid $modal-content-border-color;
    //@include border-radius($modal-content-border-radius);
    @include box-shadow($modal-content-box-shadow-xs);
    // Remove focus outline from opened modal
    outline: 0;
    .modal--sticky--left &, .modal--sticky--right & {
      height: 100%;
      overflow-y: auto;
    }
    .modal--adaptive--left &, .modal--adaptive--right & {
      height: 100%;
      overflow-y: auto;
    }
  }

  &__header {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start; // so the close btn always stays on the upper right corner
    justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
    padding: $modal-header-padding;
    //border-bottom: $modal-header-border-width solid $modal-header-border-color;
    @include border-radius($modal-content-border-radius, top);

    &--sticky {
      position: sticky;
      top: 0;
      background-color: $modal-content-bg;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: 0;
    line-height: $modal-title-line-height;
  }

  &__close {
    cursor: pointer;
  }

  &__body {
    position: relative;
    // Enable `flex-grow: 1` so that the body take up as much space as possible
    // when should there be a fixed height on `.modal-dialog`.
    flex: 1 1 auto;
    padding: $modal-inner-padding;
  }

  &__footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center; // vertically center
    justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
    padding: $modal-inner-padding;
    //border-top: $modal-footer-border-width solid $modal-footer-border-color;

    &--sticky {
      position: sticky;
      bottom: 0;
      background-color: $modal-content-bg;
      z-index: 1;
    }

    // Easily place margin between footer elements
    > :not(:first-child) {
      margin-left: .4rem;
    }
    > :not(:last-child) {
      margin-right: .4rem;
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    background-color: $modal-backdrop-bg;
    opacity: $modal-backdrop-opacity;

    // Fade for backdrop
    &--fade-in {
      @include fade($from: 0, $to: $modal-backdrop-opacity);
      animation-name: fade-0-0_5;
      animation-duration: 0.3s;
      animation-fill-mode: both;
    }

    &--fade-out {
      @include fade($from: $modal-backdrop-opacity, $to: 0);
      animation-name: fade-0_5-0;
      animation-duration: 0.3s;
      animation-fill-mode: both;
    }
  }

  // Scale up the modal
  @include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    &__dialog {
      //max-width: $modal-md;
      //margin: $modal-dialog-margin-y-sm-up auto;
      margin: 0; // side panel
    }

    .modal-dialog-centered {
      min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));
    }

    &__content {
      @include box-shadow($modal-content-box-shadow-sm-up);
    }

    &__sm {
      max-width: $modal-sm;
    }
  }

  @include media-breakpoint-up(lg) {
    .modal-lg {
      max-width: $modal-lg;
    }
  }
}
