.navbar {
  &__container {
    display: flex;
    align-content: center;
    align-items: center;
    width: $navbar-width;
    min-height: 4.2rem; // $navbar-height;
    padding-left: $navbar-padding-x;
    padding-right: $navbar-padding-x;
    background: $navbar-bg;
  }

  &__add-widget {
    svg {
      margin-right: 0.8rem;
    }
  }

  &__auto-update {
    margin-left: auto;
  }

  &__header {
    position: relative;
  }

  &__menu {
    display: flex;
    margin: $navbar-menu-margin;
    @include list-unstyled;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    position: relative;
    padding: $navbar-link-padding-y $navbar-link-padding-x;
    line-height: $navbar-link-line-height;
    font-size: $navbar-link-font-size;
    font-weight: $navbar-link-font-weight;
    text-transform: $navbar-link-text-transform;
    text-decoration: $navbar-link-text-decoration;
    color: $navbar-link-color;

    @include transition($navbar-link-transition);
    @include hover-focus {
      background: $navbar-link-hover-background;
      color: $navbar-link-hover-color;
      text-decoration: $navbar-link-hover-text-decoration;
    }
    @include active('.navbar__item--active &') {
      background: $navbar-link-active-background;
      color: $navbar-link-active-color;
      text-decoration: $navbar-link-active-text-decoration;
    }
  }
}
