//
// Basic Bootstrap table
//

.table {
  width: 100%;
  max-width: 100%;
  //margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  border-top: $table-border-width solid $table-border-color;

  tbody {
    tr {
      &:hover {
        background-color: #ebfadb;
      }
      &:last-of-type {
        border-bottom: $table-border-width solid $table-border-color;
      }
    }
  }

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: middle;
    height: $table-row-height;

    border-left: $table-border-width solid $table-border-color;
    border-right: $table-border-width solid $table-border-color;
  }
  th {
    border-bottom: $table-border-width solid $table-border-color;
    vertical-align: middle;
    text-align: center;
    color: $table-head-color;
  }
  td {
    cursor: pointer;
  }

  @for $i from 0 through 10 {
    &.col-min-width-#{$i} th {
      min-width: (1rem * $i);
    }
  }
}
