.widget {
  width: 100%;
  border: 0.1rem solid rgba(199, 223, 248, 1);
  background-color: #fff;
  display: block;
  position: absolute;
  cursor: move;
  box-shadow: 3px 3px 5px rgba(201, 201, 201, 0.3);
  font-size: 12px;
  @include hover() {
    border-color: $blue-100;
    box-shadow: 3px 3px 5px rgba(102, 102, 102, 0.3);
  }

  &__header {
    display: flex;
    border-bottom: 2px solid #fff;
    padding: 1rem 1.4rem;
  }

  &__body {
    padding: 1rem 1.4rem;
  }

  &__footer {
  }

  // close button
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(50%, -50%, 0);
    cursor: pointer;
  }

  &__title {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; //$panel-title-flex;
    align-items: flex-start;
    padding: 0; // $panel-title-padding;
    line-height: 1;

    &-main {
      margin: 1rem 0 0.5rem;
      font-size: 1.2rem; // $panel-title-main-font-size;
      font-weight: $panel-title-main-font-weight;
    }
    &-sub {
      font-size: 1.2rem; // $panel-title-sub-font-size;
      font-weight: $panel-title-sub-font-weight;
      color: $gray-300;
    }
  }

  &__options {
    display: flex;
    margin: 0.5rem 0 0 auto; // $panel-options-margin-left;    margin-left: auto;
    > * {
      margin-left: 0.3rem;
      color: $gray-300;
    }
    svg {
      cursor: pointer;
    }
  }

  &__open {
    @include icon;
    @include before {
      font-size: 1.6rem;
      content: $icon-full-size;
    }
  }

  &__update {
    @include icon;
    @include before {
      font-size: 1.7rem;
      content: $icon-update-arrow;
    }
  }

  &__settings {
    @include icon;
    @include before {
      font-size: 1.8rem;
      content: $icon-settings;
    }
  }
}
